*
{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;

}


main {
    max-width: 600px;
    margin: 0 auto;

}

.post-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}

.post-form textarea {
    resize: none;
    height: 100px;
    margin-bottom: 10px;
}

.post-container {
    /* Style your posts container */
    font-family: 'Arial', sans-serif;
    background-color:rgb(206, 219, 244);
    margin: 0;
    padding: 0;

}

.post-btn{
    width: 25vw;
    margin: auto;
}

/* Add more styles as needed for the footer and other elements */
body {
    font-family: 'Arial', sans-serif;
    background-color:beige;
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./pics/pngtree-orange-green-indian-independence-day-flag-splashes-abstract-background-picture-image_1454802.jpg) ;
    background-repeat: no-repeat;
    background-size: 100vw;
    min-height: 100vh;
    width: 100%;

}
#nam{
    color:white;
}

header {
     /* background-color:wheat;  */

    padding: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */


    text-align: center;
}
/* .header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./pics/abstract-flag-of-india-abstract-paint-splashes-flag-of-india-conceptual-background-for-india-eps-vector_csp74227883.webp) ;
    background-position: center;
    background-size: cover;
    position: relative;
} */
header h1{
    color:wheat;
}

header h1 {
    margin: 0;
    color:black;
}
main {
    width: 100vw;
    height: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imgShow{
    width: 25vw;
}

.post-container{
    text-align: center; 

}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    text-align: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


